= title "about | charlottenijssen.com"
= description "About Charlotte Nijssen"
= body_class "about-page"

== render "sprites/about"
main.main
  == render "about-sections/profile"
  == render "about-sections/cities"
