$base-color: #1a2039;
$white: #FFF;

$pink : #f190a2;
$orange: #eb5841;
$yellow: #fcbe3c;
$green: #3dbdac;
$blue: #6dadca;

$rainbow-gradient: linear-gradient(45deg, $orange, $pink, $yellow, $green, $blue);
