.profile {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 15vh;
  @media screen and (max-width: $break-m) {
    padding: 0 1.25rem;
    justify-content: center;
  }
  @media screen and (min-width: $break-m) {
    align-items: center;
    margin: 6rem 0 25vh;
  }
}

.profile-text {
  padding: 1rem;
  @media screen and (min-width: $break-m) {
    padding: 2rem;
  }
  @media screen and (min-width: $break-l) {
    padding: 4rem;
  }
}

.profile-portrait {
  margin-bottom: 2rem;
  text-align: center;
}

.profile-portrait__image {
  margin: 0 2rem;
  max-width: 100%;
  width: 8rem;
  border-radius: 100%;
  @media screen and (min-width: $break-s) {
    width: 15rem;
  }
}
